body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

h1 {
  color: #c05396;
  text-align: center;
  font-size: 40px;
  font-weight:100;
  letter-spacing: 20px;
  line-height: 70px;
 
}

h2 {
  color: #c05396;
  font-size: 18px;
  letter-spacing: 10px;
  line-height: 30px;
}

p {
  color:#2b619c;
  line-height: 23px;
  
}

img {
  margin: 10px;
}

.logo {
  display: block;
  margin:auto;
  width: 35%;
  max-width: 500px;
}
.der {
  float:right;
}

.izq {
  float: left;
}

.minnie {
  width: 100%;
}



